<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImagePreprocessing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="item" id="child1">
            <h1>이미지 전처리</h1>
        </div>

        <div class="item" id="child2">
            <p><h2>{{preprocessingMethod}}</h2></p>
            <p id="slideSector" style="{{slideDisplay}}">
                <input id="slider" type="range" min="1" max="255" step="1" value="{{slideValue}}">
                Value: <span id="sliderValue">{{slideValue}}</span>
                <br><br>
            </p>
        </div>

        <div class="item" id="child3">
            <p><h2>이미지 불러오기</h2></p>
            <p><form action="/file_upload" method="POST" enctype="multipart/form-data">
                <p><input type="file" name="file" accept="image/*" required></p>
                <p><input type="submit" value="입력"></p>
                </form></p>
            <p><h2>전처리 기법 선택</h2></p>
            <p>
                <form action="/color_to_gray" method="POST" style="display:inline">
                    <button type="submit" value="Button" onclick="hidden_slide()"> 흑백 이미지 </button>
                </form>
                &nbsp;
                <form action="/make_binary" method="POST" style="display:inline">
                    <button type="submit" value="Button"> 바이너리 </button>
                </form>
            </p>
        </div>

        <div class="item" id="child4">
            <table>
                <tr>
                    <td><img src="{{originalImagePath}}" alt="원본 이미지" style="max-width:100%; height:auto;"></td>
                    <td><img id="preprocessingImage" src="{{preprocessingImagePath}}" alt="전처리 이미지" style="max-width:100%; height:auto;"></td>
                </tr>
            </table>
        </div>

    </div>
</body>

<script>
    slide_event_handler();
</script>

</html>