<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImagePreprocessing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="item">
            <h1>이미지 전처리</h1>
        </div>

        <div class="item">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange" onchange=form_action()>
            <p>Value: <span id="value"></span></p>
        </div>

        <div class="item">
            <h2>이미지 불러오기</h2>
            <p>
                <form id="form" action="/file_upload" method="POST" enctype="multipart/form-data">
                    <p><input type="file" name="file" accept="image/*" value="테스트" required></p>
                    <p><input type="submit" value="입력"></p>
                </form>
            </p>
            <!--
            <p><input type="file" id="myFile" name="myFile"></p>
            <p><button onclick="uploadImage()"> 입력 </button></p>
            -->
            <h2>전처리 기법 선택</h2>
            <p>
                <form action="/test" method="POST" style="display:inline">
                    <button type="submit", value="Button"> 노말라이즈 </button>
                </form>
                &nbsp;
                <form action="/test" method="POST" style="display:inline">
                    <button type="submit", value="Button"> 바이너리 </button>
                </form>
            </p>
            <p>
                <form action="/test" method="POST" style="display:inline">
                    <button type="submit", value="Button"> 뭐하지 </button>
                </form>
                &nbsp;
                <form action="/test" method="POST" style="display:inline">
                    <button type="submit", value="Button"> 캐니 </button>
                </form>
            </p>
        </div>

        <div class="item">
            {% if True %}
            <div>
                <img src="{{image_file}}" style="max-width:100%; height:auto;" alt="이미지">
            </div>
            {% endif %}
            <!--
            <img id="uploadedImage" src="#" alt="이미지" style="max-width:100%; height:auto;">
            -->
        </div>

    </div>

    <script>
        //var slider = document.getElementById("myRange");
        //var output = document.getElementById("value");
        //output.innerHTML = slider.value;
        
        //slider.oninput = function() {
        //    output.innerHTML = this.value;
        //}
    </script>
</body>

</html>